.vBox{
    -fx-background-color: rgb(40,40,40);
    -fx-border-color: rgb(142, 142, 142);
    -fx-min-height: 200px;
    -fx-min-width: 200px;

}

.vBoxBottom{
    -fx-background-color: red;
    -fx-border-color: rgb(30, 30, 30);
    -fx-spacing: 50px;
}

.NameField{
    -fx-background-color: red;
}

.ButtonLogin{
    -fx-background-color: red;
}

.TextBox{
    -fx-background-color: rgb(30,30,30);
    -fx-text-fill: White;
}
